* {
    box-sizing: border-box;
}

header {
    border: 2px solid #e0e0e0;
    width: 100%;
    height: 9%;
}

.logo {
    margin-top: 10px;
}

.row {
    margin: 0%;
}

/* Hx ICONS */
img.center {
    display: block;
    margin-left: auto;
    margin-right: auto;
}

p {
    font-size: 0.8rem;
}

.searchList {
    margin-bottom: 7px;
}

.slot:hover,
.btn:hover {
    background: lightskyblue;
    cursor: pointer;
}

body {
    font-family: "IBM Plex Sans", sans-serif;
    line-height: 1.5;
    font-size: 1rem;
    margin: 0;
    padding: 0;
    width: 100%;
    height: 100vh;
    color: #fff;
    background: linear-gradient(-45deg, #EE7752, #E73C7E, #23A6D5, #23D5AB);
    background-size: 400% 400%;
    position: relative;
    animation: change 10s ease-in-out infinite;
    overflow-x: hidden;
}

@keyframes change {
    0% {
        background-position: 0 50%;
    }

    50% {
        background-position: 100% 50%;
    }

    100% {
        background-position: 0 50%;
    }
}

.imgContainer {
    /* position: relative; */
    /* flex-wrap: wrap; */
    /* top: 65px; */
    height: auto;
    width: 100%;
    margin-top: 28px;
}

/* The Modal (background) */
.modal {
    display: none;
    /* Hidden by default */
    position: fixed;
    /* Stay in place */
    z-index: 1;
    /* Sit on top */
    left: 0;
    top: 0;
    width: 100%;
    /* Full width */
    height: 100%;
    /* Full height */
    overflow: auto;
    /* Fallback color */
    background-color: rgba(0, 0, 0, 0.4);
    /* Black w/ opacity */
}

/* Modal Content/Box */
.modal-content {
    color: black;
    background-color: #fefefe;
    margin: 15% auto;
    /* 15% from the top and centered */
    padding: 20px;
    border: 1px solid #888;
    width: 80%;
    /* Could be more or less, depending on screen size */
}

/* The Close Button */
.close {
    color: #aaa;
    float: right;
    font-size: 28px;
    font-weight: bold;
}

.close:hover,
.close:focus {
    color: black;
    text-decoration: none;
    cursor: pointer;
}

/* search form */
.input-field {
    background-color: white;
}

.currency {
    font-size: 50px;
}

#icon {
    position: relative;
    top: 35px;
}

#icon2 {
    position: relative;
    top: -20px;
}

.searchHx {
    width: auto;
    font-size: 1.2rem;
}

.form-label {
    font-size: 15px;
}

#search-btn {
    margin: 10px;
}

#remove-coins {
    margin: 10px;
}

#form-input {
    border: 1px solid #e0e0e0;
}

/* main info display */
.data-wrapper {
    margin-top: 0px;
    margin-right: 20px;
    width: 100%;
}

.sub-data {
    padding: 0;
    width: auto;
}

#pair-wrapper {
    height: 35.4vh;
    border: 1px solid #e0e0e0;
    color: white;
}

.main-data {
    margin-top: -20px;
    ;
}

.main-data2 {
    margin-top: -40px
}

a {
    color: white;
    font-size: 25px;
}

.header-icon {
    margin-top: 6px
}

.clock {
    display: flex;
    border: 1px solid #e0e0e0;
    font-size: 1.1rem;
    text-align: center;
    justify-content: space-between;
    height: 50px;
    align-items: center;
    margin-top: 7px;
}

.timeWrap {
    justify-content: space-around;
    text-align: center;
    width: 100%
}

#currentDate {
    width: 100%;
    height: auto;
    color: yellow;
}

#time {
    width: 100%;
    height: auto;
    
    /* margin-right: -50px !important;
    top: 40px !important; */
}

#muteEl {
    height: 100px;
}

.unmute {
    background-image: url(http://franriavilla.in/images/unmute.png);
    background-size: cover;
    width: 35px;
    height: 30px;
    cursor: pointer;
}

.mute {
    background-image: url(http://franriavilla.in/images/mute.png);

}


@media only screen and (max-width: 375px) {
    .imgContainer {
        width: 100%;
        margin-top: -25px !important;
        left: -50px !important;
        position: relative;
        flex-wrap: wrap;
        top: 40px !important;
        height: auto;
    }

    #pair-wrapper {
        height: 65vh !important;
    }

    #pair {
        font-size: 35px !important;
    }

    #priceTicker {
        font-size: 35px !important;
    }
}

@media only screen and (max-width: 414px) {
  .imgContainer {
    margin-right: -50px !important;
    top: 40px !important;
  }

  #pair-wrapper{
    height: 62vh;
    margin-top: 7px;
  }
}

@media only screen and (max-width: 540px) {
    header {
        text-align: center;
    }
}

@media only screen and (max-width: 768px) {
    .imgContainer {
        width: 100%;
        margin-top: -25px !important;
        left: -50px !important;
        position: relative;
        flex-wrap: wrap;
        top: 175px;
        height: auto;
    }
}

@media only screen and (max-width: 1024px) {
  .imgContainer {
      width: 100%;
      /* left: -75px !important; */
      position: relative;
      flex-wrap: wrap;
      top: 175px;
      height: auto;
  }


  #pair {
      font-size: 35px !important;
  }

  #priceTicker {
      font-size: 35px !important;
  }

}